## Problem 0

In [17]:
import numpy as np
import pandas as pd
import requests
import json
import sys
sys.tracebacklimit = 0 # turn off the error tracebacks
url = 'https://httpbin.org/user-agent'
r = requests.get(url)
useragent = myjson['user-agent']
headers = {'User-Agent': useragent,
           'From': 'qja8kc@virginia.edu'}

KeyError: 'user-agent'

## Problem 1

## Problem 2

In [2]:
sys.tracebacklimit = 0 # turn off the error tracebacks
url = 'https://data.nasa.gov/resource/y77d-th95.json'
r = requests.get(url)
myjson = json.loads(r.text)
pd.json_normalize(myjson)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation.type,geolocation.coordinates,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,Point,"[6.08333, 50.775]",NaN,NaN
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,Point,"[10.23333, 56.18333]",NaN,NaN
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,Point,"[-113, 54.21667]",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,Point,"[-99.9, 16.88333]",NaN,NaN
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,Point,"[-64.95, -33.16667]",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Tirupati,24009,Valid,H6,230,Fell,1934-01-01T00:00:00.000,13.633330,79.416670,Point,"[79.41667, 13.63333]",NaN,NaN
996,Tissint,54823,Valid,Martian (shergottite),7000,Fell,2011-01-01T00:00:00.000,29.481950,-7.611230,Point,"[-7.61123, 29.48195]",NaN,NaN
997,Tjabe,24011,Valid,H6,20000,Fell,1869-01-01T00:00:00.000,-7.083330,111.533330,Point,"[111.53333, -7.08333]",NaN,NaN
998,Tjerebon,24012,Valid,L5,16500,Fell,1922-01-01T00:00:00.000,-6.666670,106.583330,Point,"[106.58333, -6.66667]",NaN,NaN
999,Tomakovka,24019,Valid,LL6,600,Fell,1905-01-01T00:00:00.000,47.850000,34.766670,Point,"[34.76667, 47.85]",NaN,NaN

In [16]:
sys.tracebacklimit = 0 # turn off the error tracebacks
url = 'https://www.reddit.com/r/popular/top.json'
r = requests.get(url)
myjson = json.loads(r.text)
df = pd.DataFrame()
it = lambda x: [x['subreddit'], x['title'], x['ups'], x['created_utc']]
arr = [it(myjson['data']['children'][i]['data']) for i in range(25)]
df = pd.DataFrame(data=arr, columns=['subreddit', 'title', 'ups', 'created_utc'])
df

,subreddit,title,ups,created_utc
0,todayilearned,TIL a pizzeria owner discovered DoorDash was c...,60635,1.719423e+09
1,pics,A man's rare blood has saved over 2.4 million ...,57670,1.719417e+09
2,holdmyfries,HMF while I photograph this engagement,55899,1.719456e+09
3,MadeMeSmile,when your father is a skateboarder,45302,1.719415e+09
4,clevercomebacks,"Explaining mansplaining, condescending",42692,1.719443e+09
5,news,Supreme Court wipes out anti-corruption law th...,39531,1.719418e+09
6,meirl,meirl,38583,1.719430e+09
7,nextfuckinglevel,My knees exploded watching him go down,36761,1.719424e+09
8,BeAmazed,Imagine having this in your backyard,36320,1.719416e+09
9,worldnews,Pyongyang Says It Will Send Troops to Ukraine ...,34465,1.719415e+09
10,interestingasfuck,Japanâ€˜s major broadcaster NHK is required to g...,33837,1.719432e+09
11,comics,Operation Delta Alpha November Charlie Echo,32435,1.719423e+09
12,interestingasfuck,Hippo trying to escape from his confinement - ...,32025,1.719427e+09
13,interestingasfuck,The degree of refractionâ€¦,31683,1.719413e+09
14,Damnthatsinteresting,example of how American suburbs are designed t...,31158,1.719454e+09
15,pics,The amount of milk my mother goes thru in a week.,30103,1.719419e+09
16,facepalm,Delusional people.,29168,1.719434e+09
17,funny,ask and ye shall receive,29042,1.719455e+09
18,interestingasfuck,Big brain move,26766,1.719428e+09
19,clevercomebacks,Marjorie gets schooled AGAIN,26616,1.719427e+09
20,interestingasfuck,The death of a single celled organism,26544,1.719445e+09
21,mildlyinfuriating,The amount of people that park in my spot,26522,1.719449e+09
22,AITAH,UPDATE for telling my husband's affair baby's ...,26129,1.719441e+09
23,maybemaybemaybe,maybe maybe maybe,25501,1.719424e+09
24,oddlysatisfying,This Japanese guy with guns,24968,1.719419e+09